# Тишкин Константин Андреевич
# BLOGGER Data Set

In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [9]:
url = 'https://github.com/1995konstantin/MachineLearningCourse/raw/master/kohkiloyeh.xlsx'
data = pd.read_excel(url, header=1)
data.shape

(99, 6)

In [10]:
data

      high    left  impression  yes yes.1 yes.2
0     high    left   political  yes   yes   yes
1   medium  middle     tourism  yes   yes   yes
2     high    left   political  yes   yes   yes
3   medium  middle        news  yes   yes   yes
4   medium  middle        news  yes   yes   yes
5     high    left   political  yes   yes   yes
6     high   right   political  yes    no   yes
7     high   right   political  yes    no    no
8   medium   right     tourism  yes    no   yes
9     high   right     tourism  yes   yes   yes
10  medium    left        news  yes    no   yes
11    high    left   political  yes   yes    no
12     low   right        news   no   yes    no
13    high    left   political  yes   yes   yes
14  medium    left  impression  yes   yes   yes
15  medium    left   political  yes   yes   yes
16    high   right   political  yes   yes   yes
17  medium    left  impression  yes   yes   yes
18    high   right     tourism  yes   yes    no
19    high    left   political  yes   yes   yes
20  medium    left        news  yes   yes   yes
21    high   right   political   no   yes    no
22     low    left     tourism  yes    no    no
23    high    left        news  yes   yes   yes
24    high    left   political  yes   yes   yes
25     low   right  impression   no    no   yes
26    high   right   political  yes   yes   yes
27    high    left  impression   no    no   yes
28  medium    left  scientific  yes   yes    no
29    high   right   political  yes   yes   yes
..     ...     ...         ...  ...   ...   ...
69  medium    left   political  yes   yes   yes
70  medium    left        news  yes   yes   yes
71  medium   right   political   no   yes    no
72     low    left     tourism  yes    no    no
73    high    left        news  yes   yes   yes
74    high    left   political  yes   yes   yes
75     low   right  impression   no    no   yes
76    high   right   political  yes   yes   yes
77    high    left  impression   no    no   yes
78  medium    left  scientific  yes   yes    no
79    high   right   political  yes   yes   yes
80     low    left  scientific  yes   yes    no
81  medium   right     tourism  yes   yes    no
82     low   right   political  yes   yes   yes
83    high    left  impression  yes    no   yes
84  medium    left     tourism  yes    no   yes
85  medium  middle  impression  yes    no   yes
86  medium  middle  impression   no   yes    no
87  medium   right  scientific  yes   yes    no
88  medium    left  impression   no    no   yes
89    high    left   political  yes   yes    no
90  medium    left        news   no   yes   yes
91    high    left   political  yes   yes   yes
92  medium   right        news  yes   yes    no
93  medium    left     tourism  yes    no   yes
94  medium  middle  impression  yes   yes   yes
95     low  middle  impression  yes    no    no
96     low   right  impression  yes    no    no
97  medium   right        news  yes   yes    no
98  medium    left  impression  yes   yes   yes

[99 rows x 6 columns]

Отображение средствами Python

In [11]:
print(data)

      high    left  impression  yes yes.1 yes.2
0     high    left   political  yes   yes   yes
1   medium  middle     tourism  yes   yes   yes
2     high    left   political  yes   yes   yes
3   medium  middle        news  yes   yes   yes
4   medium  middle        news  yes   yes   yes
5     high    left   political  yes   yes   yes
6     high   right   political  yes    no   yes
7     high   right   political  yes    no    no
8   medium   right     tourism  yes    no   yes
9     high   right     tourism  yes   yes   yes
10  medium    left        news  yes    no   yes
11    high    left   political  yes   yes    no
12     low   right        news   no   yes    no
13    high    left   political  yes   yes   yes
14  medium    left  impression  yes   yes   yes
15  medium    left   political  yes   yes   yes
16    high   right   political  yes   yes   yes
17  medium    left  impression  yes   yes   yes
18    high   right     tourism  yes   yes    no
19    high    left   political  yes   yes   yes
20  medium    left        news  yes   yes   yes
21    high   right   political   no   yes    no
22     low    left     tourism  yes    no    no
23    high    left        news  yes   yes   yes
24    high    left   political  yes   yes   yes
25     low   right  impression   no    no   yes
26    high   right   political  yes   yes   yes
27    high    left  impression   no    no   yes
28  medium    left  scientific  yes   yes    no
29    high   right   political  yes   yes   yes
..     ...     ...         ...  ...   ...   ...
69  medium    left   political  yes   yes   yes
70  medium    left        news  yes   yes   yes
71  medium   right   political   no   yes    no
72     low    left     tourism  yes    no    no
73    high    left        news  yes   yes   yes
74    high    left   political  yes   yes   yes
75     low   right  impression   no    no   yes
76    high   right   political  yes   yes   yes
77    high    left  impression   no    no   yes
78  medium    left  scientific  yes   yes    no
79    high   right   political  yes   yes   yes
80     low    left  scientific  yes   yes    no
81  medium   right     tourism  yes   yes    no
82     low   right   political  yes   yes   yes
83    high    left  impression  yes    no   yes
84  medium    left     tourism  yes    no   yes
85  medium  middle  impression  yes    no   yes
86  medium  middle  impression   no   yes    no
87  medium   right  scientific  yes   yes    no
88  medium    left  impression   no    no   yes
89    high    left   political  yes   yes    no
90  medium    left        news   no   yes   yes
91    high    left   political  yes   yes   yes
92  medium   right        news  yes   yes    no
93  medium    left     tourism  yes    no   yes
94  medium  middle  impression  yes   yes   yes
95     low  middle  impression  yes    no    no
96     low   right  impression  yes    no    no
97  medium   right        news  yes   yes    no
98  medium    left  impression  yes   yes   yes

[99 rows x 6 columns]

Различные отображения

In [12]:
data.head()

     high    left impression  yes yes.1 yes.2
0    high    left  political  yes   yes   yes
1  medium  middle    tourism  yes   yes   yes
2    high    left  political  yes   yes   yes
3  medium  middle       news  yes   yes   yes
4  medium  middle       news  yes   yes   yes

In [13]:
data.tail()

      high    left  impression  yes yes.1 yes.2
94  medium  middle  impression  yes   yes   yes
95     low  middle  impression  yes    no    no
96     low   right  impression  yes    no    no
97  medium   right        news  yes   yes    no
98  medium    left  impression  yes   yes   yes

-high образование
-left политические наклонности
-impression темы местного СМИ
-yes местное время
-yes.1 социальное пространство
-yes.2 профессианальный блогер

In [14]:
print(data.shape)
print(data.columns)

(99, 6)
Index(['high', 'left', 'impression', 'yes', 'yes.1', 'yes.2'], dtype='object')

In [15]:
data.index

RangeIndex(start=0, stop=99, step=1)

In [17]:
data.at[2, 'left']

'left'

In [18]:
data['left']

0       left
1     middle
2       left
3     middle
4     middle
5       left
6      right
7      right
8      right
9      right
10      left
11      left
12     right
13      left
14      left
15      left
16     right
17      left
18     right
19      left
20      left
21     right
22      left
23      left
24      left
25     right
26     right
27      left
28      left
29     right
       ...
69      left
70      left
71     right
72      left
73      left
74      left
75     right
76     right
77      left
78      left
79     right
80      left
81     right
82     right
83      left
84      left
85    middle
86    middle
87     right
88      left
89      left
90      left
91      left
92     right
93      left
94    middle
95    middle
96     right
97     right
98      left
Name: left, Length: 99, dtype: object

In [19]:
data['left'][3]

'middle'

In [20]:
data['yes'].dtype.name

'object'

In [28]:
type(data['high'][3])

str

In [29]:
type(data['high'])

pandas.core.series.Series

In [30]:

data[['high', 'left']].head()

     high    left
0    high    left
1  medium  middle
2    high    left
3  medium  middle
4  medium  middle

In [31]:
data.describe()

          high  left impression  yes yes.1 yes.2
count       99    99         99   99    99    99
unique       3     3          5    2     2     2
top     medium  left  political  yes   yes   yes
freq        47    51         35   85    71    67

Матрица ковариации

In [32]:
from pandas.plotting import scatter_matrix
scatter_matrix(data, alpha = .01, figsize = (10, 10))
pass

ValueError: num must be 1 <= num <= 0, not 1